body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: pink;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #999;
  color: white;
  position: relative;
}

